{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plops list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Test</th>
                <th>Tata</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plop in plops %}
            <tr>
                <td><a href="{{ path('plop_show', { 'id': plop.id }) }}">{{ plop.id }}</a></td>
                <td>{{ plop.test }}</td>
                <td>{{ plop.tata }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plop_show', { 'id': plop.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plop_edit', { 'id': plop.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plop_new') }}">Create a new plop</a>
        </li>
    </ul>
{% endblock %}
