{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plop</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plop.id }}</td>
            </tr>
            <tr>
                <th>Test</th>
                <td>{{ plop.test }}</td>
            </tr>
            <tr>
                <th>Tata</th>
                <td>{{ plop.tata }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plop_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('plop_edit', { 'id': plop.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
